{% extends 'base.html' %}


{% block title %}Hola mundo{% endblock %}


{% block content %}

<div class="container mt-3">
        <h2> chatea </h2>

{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ error }}</strong> Debe solicitar permiso para unirse..
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% for room in rooms %}

<a class="btn btn-primary" href="{% url 'room' room.id %}">{{room.name}}</a>    <!--Recordar que el contexto se llama entre doble llave-->

{% endfor %}

{% endblock %}
</div>

