{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-dark text-white text-center">
            <div class="card-body">
                <h2 class="mb-4">Recuperar contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-secondary m-3">Enviar correo de recuperación</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
