<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,unfollow">
    <title>Thegame</title>
    <link rel="stylesheet" href="CSS/categories.css">
</head>
<body>
    <header>
        <h1>Thegame <img src="img/categori/Diseño.png" alt="Logo"></h1>
    </header>
    
    <main>
        <section class="upload">
	    <img src="img/categori/Holaque.jpg" alt="Emuladores">
            <h2>upload your games</h2>
            <p>Únete a nuestra plataforma y comparte tus juegos indie de forma gratuita. Haz que tu creatividad brille y llegue a jugadores. ¡Súmate a nuestra comunidad de desarrolladores independientes hoy mismo!</p>
	    <button>Go</button> <!--Se debe crear una validación si el usuario esta registrado o no para darle una redirección -->
        </section>
        
        <section class="categories">
            <h3>Categories</h3>
            <div class="category-container">
                <article class="category">
                    <img src="indie.jpg" alt="Indie">
                    <p>Indie</p>
                </article>
                <article class="category">
                    <img src="psp.jpg" alt="PSP">
                    <p>PSP</p>
                </article>
                <article class="category">
                    <img src="nds.jpg" alt="NDS">
                    <p>NDS</p>
                </article>
                <article class="category">
                    <img src="wii.jpg" alt="Wii">
                    <p>Wii</p>
                </article>
                <article class="category">
                    <img src="ps1.jpg" alt="PS1">
                    <p>PS1</p>
                </article>
                <article class="category">
                    <img src="snes.jpg" alt="SNES">
                    <p>SNES</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Thegame. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

