{% extends 'base.html' %}

{% block title %}Ayuda{% endblock %}


{% block content %}


        <main>

                <h1><del>¡No-Ayuda!</del></h1>
        <section>
        <div class="container d-flex justify-content-center align-items-center">
           <div class="card text-center" style="width: 100%;">
                <div class="card-body ">
                            <h5 class="card-title">¿Quieres hablar conmigo??</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">¡Ja,ja,ja! que gracioso</h6>
                            <p class="card-text"><p> Como si tuviera tiempo para tus nimiedades. Si insistes en hacerme perder unos valiosos segundos de mi vida, puedes dejar tu mensaje en un pergamino y enviarlo por paloma mensajera a la dirección: El Olimpo de los Desarrolladores, Vía Láctea. Ah, y no te olvides de adjuntar un sacrificio humano para llamar mi atención.  </p>
                            <a href="#" class="card-link">QUENOMEHABLES</a>
			    <a href="#" class="card-link">!JODER¡.</a>

                </div>
          </div>
        </div>
	<a href="{% url 'index' %}" class="btn btn-primary">Ir al Home.</a>  
        </section>




{% endblock %}
