<!DOCTYPE html>

<html lang="en">
 <head>
	 <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>thegame</title>
  </head>

  <body>
	<main>
		<form action="">
			<label for="nombre">
				<span>Cual es tu nombre?</span>
				<input type="text" name="nombre" id="nombre" autocomplete="name" required>
				
			</label>
		</form>
	
				<form action="">
			    <label for="correo">
				<span>Correo elctronico</span>
				<input type="text" name="correo" id="correo" autocomplete="email" required> <!--El atributo required lo hace requerido para poder continuar-->
			</label>
		</form>

				<form action="">
			<label for="lugat">
				<span>donde vives</span>
				<input type="text" name="lugar" id="lugar" autocomplete="country"/>
			</label>
		</form>



				<form action="">
			<label for="lugat">
				<span>codigopostal</span>
				<input type="text" name="lugar" id="lugar" autocomplete="postal-code"> 
			</label>
		</form>
		<input type="submit" />
			
	</main>
	



  </body>

</html>
