<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/me.css' %}">
</head>


<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'upload' %}">Subir Juegos</a></li>
            <li><a href="{% url 'mis_juegos' %}">Juegos Subidos</a></li>
	    <li><a href="{% url 'edit' %}">Editar perfil</a></li>
        </ul>
    </nav>

</body>

