<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thegame</title>

</head>


<body>

        <main>

	<input list="cursos">  <!--en el atributo para el input tenemos list este nos va a permitir agregar datalist -->

	<datalist id="cursos">
	 	<!--en el datalist vamos a dejar el id del input que es cursos y dentro de esta etiqueta vamos a poner el contenido-->
		<option value="javascript"></option>
		<option value="html5"</option>
		<option value="frontend"></option>
	</datalist>

        </main>

<!--en el value vamos a poner un identificador que nos va a servir para guardar los datos y tambien con la etiqueta <option> le agregamos contenido a la etiqueta <select>-->


</body>
                              
